<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
</head>
<body>
    {% if role == 'admin' %}
    <h1>Edit Article</h1>
    <a href="/admin/articles">Back to Articles List</a>
    <a href="/logout">Logout</a>

    <form action="/admin/article-edit/{{ article.articleId }}" method="POST">
        <label>Title</label>
        <input required type="text" name="title" value="{{ article.title }}">

        <label>Content</label>
        <textarea required name="content">{{ article.content }}</textarea>

        <input type="submit" value="Update">
    </form>
    {% else %}
    <p>NOPE! YOU CANNOT SEE THIS! <a href="/logout">logout</a></p>
    {% endif %}
</body>
</html>