<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <ul>
        <li><a href="/admin/articles">Articles Management</a></li>
        <li><a href="/admin/about-edit">Edit About Page</a></li>
        <li><a href="/admin/contact-list">View Contact Form Submissions</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    
</body>
</html>