<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
        <link rel="stylesheet" href="/static/css/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <meta name="description" content="About Animation Wiki"> 
    <meta name="keywords" content="Introduction"> 
    <link rel="author" content="Riikii"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/image/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/image/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/image/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/image/site.webmanifest">
</head>
<body>
    <header>
        <img src="/static/image/Site-logo.webp" alt="logo">
        <nav>
            <ul>
                <li><a href="/"> HOMEPAGE </a></li>
                <li><a href="/about"> ABOUT </a></li>
                <li><a href="/contact"> CONTACT </a></li>
                {% if session.get('userId') %}
                    {% if session.get('role') == 'admin' %}
                        <li><a href="/admin"> DASHBOARD </a></li>
                    {% endif %}
                    <li><a href="/logout"> LOGOUT </a></li>
                {% else %}
                    <li><a href="/login"> LOGIN </a></li>
                    <li><a href="/register"> REGISTER </a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h1>Animation Wiki</h1>
        <p>is about:</p>
        <p>Multiply animation news</p>
        <ul>
            <li>Industry</li>
            <li>Technical</li>
            <li>Career</li>
        </ul>        
    </main>

    <footer>
        <p>Our website uses cookies to improve user experience. By accepting, you consent to our use of such cookies. More information can be found in our Privacy & Cookie Policy</p> <a href=# target="_blank"> Accept Cookies </a>
    </footer>    
</body>
</html>