<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Log In Here</h1>
    <form action="/process-login" method="POST">
        username: <input required autofocus type="text" name="username" id="name" placeholder="Enter your name"/>
        email: <input type="email" name="email" id="email" placeholder="Enter your email"/>
        password: <input type="password" name="password">
            <input type="submit" />
    </form>
</body>
</html>